{% extends 'base.html' %}

{% block content %}
    <div class="blog-details">
        <img src="{{ blog.thumb.url }}" alt="{{ blog.slug }}">
        <h2>
            {{ blog.title }} ({{ blog.author }})
            {% if user.is_authenticated and user == blog.author %}
                <button type="submit">Edit</button>
                <button type="submit">Delete</button>
            {% endif %}
        </h2>
        <p>{{ blog.body }}</p>
        <p>{{ blog.date }}</p>
    </div>
{% endblock %}