{% extends 'base.html' %}

{% block content %}
    <h1 style="font-weight: bold;color:white">Blogs</h1>
    <div class="blogs">
        {% for blog in blogs %}
        <nav>
            <nav class="blog-date">
                {{ blog.date }}
            </nav>
                <div class="blog">
                    <a href="{% url 'blogs:blog' slug=blog.slug %}">
                        <h2>{{ blog.title }}</h2>
                    </a>
                    <nav class="blog-content">
                        {{ blog.snippet }}
                    </nav>
                    
                    
                    <nav  class="author">
                        <nav class="author-text">
                            
                            <nav>
                                Author 
                            </nav> 
                            
                        </nav>
                        
                        <nav class="author-text-author"> {{ blog.author }} </nav>
                    </nav>
                    
                </div>
        </nav>
        
        {% endfor %}
    </div>
{% endblock %}