{% extends 'base.html' %}

{% block content %}
    <div class="blog-details">
        <div class="blog">
            <img src="{{ blog.thumb.url }}" alt="{{ blog.slug }}">
            <h2>
                {{ blog.title }} ({{ blog.author }})
                {% if user.is_authenticated and user == blog.author %}
                    <a href="{% url 'blogs:update' blog.slug %}">Update</a>
                    <a href="{% url 'blogs:delete' blog.slug %}">Delete</a>
                {% endif %}
            </h2>
            <p>{{ blog.body }}</p>
            <p>{{ blog.date }}</p>
        </div>
    </div>
{% endblock %}